# Project exclude paths
/actor/target/
/actor/target/scala-2.12/classes/
/common/target/
/common/target/scala-2.12/classes/
/out/
/project/project/target/
/project/target/
/target/
/target/scala-2.12/classes/